.TopNav {
  display: flex;
  padding: 0rem 1rem 0rem 1rem;
  z-index: 99999999;
  height: 55px;
  align-items: center;
}

.ToggleSideBar {
  margin-right: 0.5rem;
  color: black
}

.ToggleSideBar i {
  font-size: 20px;
}